*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #37AFE1;
    text-align: center;
    padding: 2rem 0;
    color: #113444;
}

header h1 {
    font-size: 2.2rem;
    margin-bottom: 8px;
}

#add-project-container, .folder {
    width: 150px;
    height: 150px;
    text-align: center;
}

.projects-container {
    display: flex;
    padding: 2rem 1rem;
    gap: 20px;
    flex-wrap: wrap;
}

#add-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-project-container button {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: none;
    background-color: #4CC9FE;
    font-family: inherit;
    font-size: 2rem;
    margin-bottom: 5px;
}

.folder img {
    width: 90%;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex: none;
    border-radius: 20px;
    border: none;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

form {
    width: 300px;
    padding: 1rem;
    background-color: #96d9f5;
}

label, input, select {
    display: block;
}

input, select {
    width: 100%;
    line-height: 2;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid gray;
}

form button, #add-task-btn {
    margin-top: 10px;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
}

#save-task, #save-project, #add-task-btn {
    background-color: green;
    margin-right: 10px;
}

#save-task:hover, #save-project:hover, #add-task-btn:hover {
    background-color: rgb(11, 75, 11);
}

#cancel-task, #close-btn {
    background-color: rgb(178, 15, 15);
}

#cancel-task:hover, #close-btn:hover {
    background-color: rgb(97, 11, 11);
}

select {
    height: 2rem;
}

#title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:900px;
    margin: 0 auto;;
}

#back-container {
    max-width: 900px;
    margin: 0 auto;
}

#back-container img {
    width: 50px;
}