*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #37AFE1;
    text-align: center;
    padding: 2rem 0;
    color: #113444;
}

header h1 {
    font-size: 2.2rem;
    margin-bottom: 8px;
}
